{% extends "base.html" %}

{% block title %}Your profile — Spendly{% endblock %}

{% block content %}

<section class="auth-section">
    <div class="auth-container">

        <div class="auth-header">
            <h1 class="auth-title">Your profile</h1>
            <p class="auth-subtitle">Account details</p>
        </div>

        <div class="auth-card">
            <div class="form-group">
                <label>Name</label>
                <p>{{ user.name }}</p>
            </div>
            <div class="form-group">
                <label>Email</label>
                <p>{{ user.email }}</p>
            </div>
        </div>

    </div>
</section>

{% endblock %}
